@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

$summary-border-color: #787878;
$panel-header-color: #787878;
$panel-header-border-color: $panel-header-color;
$panel-active-header-color: #444;
$panel-active-header-border-color: $panel-active-header-color;
