#bbpcs .bbpcs__panel__content {
  @extend .form-group;
  &__input {
    @extend .form-control;
    &:not(:placeholder-shown) {
      &:valid {
        border-color: $brand-success;
      }
      &:read-only {
        border-color: transparentize($brand-success, 0.6);
      }
      &:invalid {
        border-color: $brand-danger;
      }
    }
  }
  #scanparser {
    margin: 15px auto;
    display: block;
  }
  #support_parser {
    font-size: 10px;
  }
}