#bbpcs .bbpcs__summary {
  @extend .bg-info;
  padding: 15px;
  margin: 15px auto;
  &__list {
    &__item {
      &__title {
        font-weight: bold;
      }
      &__version {
        @extend .label, .label-info;
      }
      &__latest {
        @extend .label, .label-danger;
      }
    }
  }
}